.caja-cabecera {
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

}

.caja-main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

textarea {
	width: 100%;
	height: 200px;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

button {
	background-color: #D8DFE8;
	color: #0A3871;
	border: #0A3871;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

button:hover {
	background-color: #0A3871;
	color: #D8DFE8;
	border: #0A3871;
}